body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.764) , rgb(246, 192, 255));
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbotron{
    background-color: rgba(240, 248, 255, 0);
}
.display-4{
    font-size: 5rem;
    color: whitesmoke;
}
.drop-shadow{
    text-shadow: 0 3px 20px blue;
}
.lead-design{
    font-size: 3rem;
    color: honeydew;
}
.btn-outline-light{
    border-color: white;
}
.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.301);
}
.no-hover, .no-hover:hover{
    background-color: #00BBC9;
    border-color: #00BBC9;
}

